# Entorno Virtual de Python (Backend)
backend/.venv/
backend/__pycache__/

# Archivos generados por Terraform (Backend y Frontend)
backend/terraform/.terraform/
frontend/terraform/.terraform/
*.tfstate
*.tfstate.*

# Archivos de construcción de la capa de dependencias
backend/build/
backend/layer.zip
backend/code.zip

# Dependencias de Node.js (Frontend)
frontend/node_modules/

# Configuración del editor y archivos del sistema
.vscode/
.DS_Store
Thumbs.db